* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: rgb(196, 172, 137);
    background: linear-gradient(180deg, #1a8732 25%, #c9f32194 100%);
    color: rgb(231, 165, 13);
    height: 100vw;    
}

.title {
    display: flex;
    justify-content: center;
    border: 4mm ridge rgb(13, 255, 110);
    background-color: rgb(100, 202, 151);
    background: linear-gradient( 180deg, #1a8732 50%, #c9f32194 100%);
    color: gold;
}

img {
    display: flex;
    width: 200px;
    height: 200px;
}

.imgContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;   
}
